<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="main-content-wrapper">
			<div class="content">
				{{ partial "head.html" . }}
				
				<main>
					<div class="intro-section">
						<img src="/profile.png" alt="Mark Darling" class="profile-image">
						<h1>Hi, I'm Mark Darling,</h1>
						<h2>Digital Innovator | Engineering Leader | Reluctant Perfectionist</h2>
						
						<div class="bio-content">
							<p>I'm passionate about turning complex problems into simple, scalable solutions. Currently, I lead mobile engineering efforts at Gymshark, focusing on clean architecture, observability, and making tech debt a thing of the past.</p>

							<p>With a career spanning web development to mobile to AI, I've shipped apps, and AI business automation. Along the way, I've built a reputation for balancing technical depth with business impact—without losing sight of what truly matters: delivering value.</p>
						</div>
					</div>
				</main>
			</div>
		</div>


		{{ partial "footer.html" . }}
	</body>
</html>
